@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgba(255, 255, 255, 0.418);
}
.contain {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.title {
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.contain-input {
    display: flex;
    justify-content: center;
}
input {
    width: 60%;
    height: 50px;
    border: none;
}
input:focus {
    outline: none;
}
ul li {
    width: 700px;
    list-style:none;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
}
.button-delete {
    margin-right: 5px; 
}
.li-text {
   margin-left: 180px;
}